/* IN ALL PAGES */
html, body {
	margin: 0;
	padding: 0;
}
.btn { 
  background-color: #FF921C; 
  color: #2C2E39;

  border: 3px solid #2C2E39;
  border-radius: 5px;

  padding: 8px 25px;
  font-family: monospace;
  font-weight: bold;
  margin-right: 50px;
  margin-left: 50px;

  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}
.btn:hover {
  background-color: #ffad4d;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 50px;              /* OBLIGATOIRE */
  background-color: #FF921C;

  font-size: 125%;
  color: #2C2E39;
  text-align: center;
}
footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #A8D5E3;

  font-size: 110%;
  color: #2C2E39;
  text-align: center;
}
a:link {
  color: #2C2E39;
}
a:visited {
  color: #2C2E39;
}
a:hover {
  color: #2C2E39;
}
a:active, a:focus {
  color: #2C2E39;
}
body {
  padding-top: 40px;
  background-color: #252121;
  font-size: 150%;
  color: white;
  text-align: left;
}
h1 {
  font-size: 200%;
  color: black;
  text-align: center;
}
h2 {
  font-size: 150%;
  color: black;
  text-align: center;
}
h3 {
  font-size: 125%;
}
/* IN ALL PAGES */
